<%- include header %>

<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h2>Basic Tutorial to Sabor</h2>
      <h3>For visitors:</h3>
      <li>
		Click on "Info Channel" in the nav bar to see all posts.
	  </li>
	  <li>
		Click on "Blogrolls" in the nav bar to see friend links.
	  </li>
	  <li>
		Click on an user's image to see his/her profile page.
	  </li>
	  <h3>For members:</h3>
	  <li>
      	Click on "New Review" in the nav bar to make a new review.
      </li>
      <li>
		Click on any review's title to make comment on it.
	  </li>
	  <li>
		Click on your username in the nav bar to see your profile page.
	  </li>
	  <li>
		When the "chat" button is shown on an user's profile page, it means that he/she is online, and you can click on it to send message to him/her; an envelope will appear on the nav bar upon receiving new message.
	  </li>
      <% if (locals.error) { %>
        <div><%= locals.error %> </div>
      <% } %>
  </div>
</div>

<%- include footer %>