<%- include header %>
<div class="container">
<h1>Backend Management</h1>
<form action="/adminLogin" method="post">
  <fieldset>
    <legend>Login</legend>
    <input type="text" name="name" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
</div>
<%- include footer %>