
<% if (!user) { %>
  <div class="hero-unit">
    <h1>Welcome to Sabor</h1>
    <p>Sabor is a gourmet microblog system built on Node.js</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">Log in</a>
      <a class="btn btn-large" href="/reg">Sign up</a>
    </p>
  </div>
<% } else { %>
   <%- partial('say') %> 
<% } %>
<%- partial('posts', {posts:posts}) %> 