<div class="hero-unit">
  <h1>Welcome to Sabor</h1>
  <p>Sabor is a gourmet microblog system based on Node.js</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">Login</a>
    <a class="btn btn-large" href="/reg">Register</a>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Pam says</h2>
     <p>I am *obsessed* with the halal food trucks in New York, so when I heard that there was a NYC-inspired Halal truck in Boston I was determined to hunt them down. The line gets super long, but they the food comes out quick and they really try to get people moving through.</p>
  </div>
  <div class="span4">
    <h2>Juliana says</h2>
     <p>
     Trattoria Panino and Giardino is my favorite place in the north end for a sit down dinner. The service is great, from the hostess to waiters and kitchen, absolutely everyone there is nice. I can't even start talking about the food, great quality. I always recommend the ravioli porcini and the sea bass special to my friends. The chicken Napolitano is awesome too and they have some good quality wine :) Antonio and Mario are my favorite waiters.</p>
 </div>
  <div class="span4">
    <h2>Joe says</h2>
    <p>Do you want a great place with 26 craft brews on tap and amazing food? Go to Mystic Station. </p>
  </div>
</div>
