<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> - Sabor</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Sabor</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Homepage</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/reg">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <%- body %>
      <hr />
      <footer>
        <p><a href="http://net4.ccs.neu.edu/home/sunshead/" target="_blank">Developer's Homepage</a> 2014</p>
      </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>
